body {
    background-image: url("/img/blur2.png");
}
.content {
    margin-top: 120px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: var(--color-white);
}
.content h5 {
    font-weight: 600;
    font-size: 1.2rem;
}
.content .margins {
    margin-left: 5px;
}
.cart-row {
    display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
}
.product {
    border-radius: 0 0 4px 4px;
}
.box-element {
    box-shadow: #dfbe69c2 0 0 16px;
    background-color: var(--color-gold);
    border-radius: 4px;
    padding: 10px;
}
.product {
    border-radius: 0 0 4px 4px;
}
.quantity {
    display: inline-block;
    font-weight: 700;
    padding-right: 10px;
}

.chg-quantity {
    width: 12px;
    cursor: pointer;
    display: block;
    margin-top: 5px;
    transition: .1s;
}

.chg-quantity:hover {
    opacity: .6;
}

.space {
    display: flex;
    justify-content: space-between;
}

.space-btn {
    background-color: var(--color-white);
    padding: 5px;
}

.space-btn a {
    text-decoration: none;
    color: var(--color-black);
    cursor: pointer;
    font-size: 1.2rem;
}
.btn-wd {
    width: 200px;
}

.row-image {
    width: 100px;
}
@media screen and (max-width: 768px) {
    .content {
        width: 90%;
    }
    .cart-row p {
        font-size: 14px;
    }
    .content h5 {
        font-weight: 600;
        font-size: 0.9rem;
    }

    .content .margins {
        margin-left: 0px;
        margin-right: 0px;
    }
    .space {
        display: flex;
        justify-content: space-between;
    }

    .space-btn {
        background-color: var(--color-white);
        padding: 5px;
    }

    .space-btn a {
        text-decoration: none;
        color: var(--color-black);
        cursor: pointer;
        font-size: 14px;
    }
    .btn-wd {
        width: 150px;
    }

    .row-image {
        width: 80px;
    }
}