body {
    background-image: url("/img/blur2.png");
}
.contact {
    margin-bottom: 80px;
}

.contactForm {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactForm input {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 35px;
    margin-top: 10px;
    background-color: #E0E0E0;
    color: var(--color-gray);
    outline: 0;
    border: none;
    padding: 10px;
}

.contactForm textarea {
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    width: 450px;
    background-color: #E0E0E0;
    color: var(--color-gray);
    outline: 0;
    border: none;
}

.contactForm button {
    font-size: 20px;
    background-color: var(--color-gold);
    color: var(--color-white);
    border: none;
    outline: 0;
    width: 450px;
    height: 35px;
    text-align: center;
    margin: 5px 0px 5px 0px;
    cursor: pointer;
}

.contact-us {
    text-align: center;
    margin-top: 100px;
}

.contact-us h1 {
    color: var(--color-black);
    font-weight: 500;
}

.contact-us p {
    font-size: 20px;
    color: var(--color-gray);
}

.contact-us i {
    color: var(--color-gold);
    font-size: 40px;
}
.split {
    display: flex;
    flex-direction: column;
}
.split iframe {
    height: 500px;
}
.container {
    margin-inline: auto;
    width: min(90%, 100rem);
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
}
@media (min-width: 1024px) and (max-width: 1400px) {
    .text p {
        width: 450px;
    }
}
@media (min-width:40em) {
    .split {
        flex-direction: row;
    }

    .split>* {
        flex-basis: 100%;
    }

    .split>*+* {
        margin-left: 2em;
    }
}

@media (min-width: 560px) and (max-width: 1024px) {
    .split {
        flex-direction: column;
    }

    .split>* {
        flex-basis: 100%;
    }

    .split>*+* {
        margin-left: 2em;
    }
}
