@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,700&display=swap');
/* ogólne */
:root {
    --color-gold: #DFBD69;
    --color-black: #000;
    --color-white: #FFF;
    --color-gray: #8D8D8D;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
/* === */
.nav-item a {
    font-weight: 600;
}
.navbar a {
    color: var(--color-white);
    text-decoration: none;
}
.navbar h1 {
    font-weight: 500;
}
.navbar i {
    font-size: 40px;
}
.navbar {
    background-color: var(--color-gold);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}
.bar-menu {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--color-white);
}
.hamburger-menu {
    display: none;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item {
    margin-left: 10px;
}
.nav-item a {
    text-decoration: none;
    color: var(--color-white);
}

#cart-total {
    position: absolute;
    top: 0;
    display: block;
    text-align: center;
    color: #fff;
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    font-size: 14px;
}
@media only screen and (max-width: 768px) {
    .navbar i {
        font-size: 30px;
    }
    .nav-menu {
        position: absolute;
        left: -100%;
        top: 3.7rem;
        flex-direction: column;
        background-color: var(--color-gold);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 999;
        font-size: 18px;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.5rem 0;
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
    }
    .hamburger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger-menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}