.content {
    position: relative;
    margin-left: 20px;
    height: 100vh;
}
input[type=email]{
    padding: 15px;
    width: 300px;
    color: black;
    font-size:16px;
}
input[type=email]::placeholder{
    color: black;
}
h1 {
    padding-top: 20px;
}
input[type=radio]{
    visibility: hidden;
}
label{
    position: relative;
    top: 20px;
}
label input[type=radio] ~ div{
    width: 300px;
    transition: 0.5s all;
    padding: 15px;
    border: 1px #000 solid;
    color:black;
}
label input[type=radio]:checked ~ div{
    transition: 0.5s all;
    background: #96f566;
}
.delivery {
    position: relative !important;
    margin-top: -30px;
    height: 150px;
    width: 300px;
}
.pay {
    /*margin-top: 10px;*/
    margin-top: -30px;
    height: 150px;
    width: 300px;
}
.item{
    position: relative;
}
.item i, .item img{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.summary{
    position: absolute;
    top: 100px;
    right: 20px;
    height: 400px;
    width: 500px;
    border: 1px #000 solid;
}
